# GitHub Database Integration
VITE_GITHUB_TOKEN=
VITE_GITHUB_OWNER=santriai
VITE_GITHUB_REPO=basis-data-santri-ai
VITE_GITHUB_BRANCH=main

# Gemini API Key (Sudah ada di environment AI Studio)
# GEMINI_API_KEY=...
